body {
    font-family: 'Bitter', serif;
 }
 
 .logo {
    background: #efdd39;
 }
 
 img {
    position: relative;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 30%;
    max-height: 30%;
 }