* { 
  margin: 0; 
  padding: 0;
  outline: 0;
}

html, body {
  width: 100%;
  font-family: 'Bitter', serif;
}

img {
  width: 100%;
  height: 100%;
}

.logo-container {
  margin: auto;
  width: 350px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

form {
  display: block;
  float: right;
  width: 220px;
  margin:0;
}

input[type=text] {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.filter-container {
  display: block;  
  background: #ffe521;
  padding: 10px;
  width: 100%;
  float: right;
  font-family: 'Bitter', serif;
}

.sidebar {
  display: block;
  position: absolute;
  width: 100px;
  height: 80px;
  background: #000000;
  font-family: 'Bitter', serif;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

.sidebar ul li {
  list-style: none;
  padding: 12px;
  position: relative;
  background: #000000;
  }

.sidebar ul ul {  
  width: 200px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  
}

.sidebar ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.sidebar ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 10px 10px;
  }

.sidebar ul li a:hover {
    background: #b623a2;
} 

.selectorStats {
  float:right;
  width: 50%;
  }

.show-stats-and-order, .show-stats-lima, .content {
  display: none;
}

.show-stats-and-order.loaded, .show-stats-lima.loaded, .content.loaded {
  display: block;
}

@media screen and (max-width: 400px) {
    .logo-container  {
      width: 100%;
    }
    form {
      width: 180px;
    }
    
}
