body {
    font-family: 'Bitter', serif;
}

.logo-container {
    margin: auto;
    width: 30%;
}

img {
    width:90%;
}

#promName {
    background: #ffe521;
    font-size: 25px;
    text-align: right;
    padding: 10px 30px;
}

ul, li {
    list-style: none;
}

.nav li a {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background:#434343;
}


.nav > li { 
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover > ul {
    display:block;
}

button {
    background: #000000;
    color: #ffffff;

}

#search-form {
    text-align: right;
    padding: 10px 30px;
}

.container {
    height: 250px;
}

footer {
    background:#000000;
    padding: 20px;
}