* { 
    margin: 0; 
    padding: 0;
    outline: 0;
}

html, body {
    width: 100%;
    font-family: 'Bitter', serif;
}

.logo-container {
    margin: auto;
    width: 30%;
}

img {
    width:100%;
}

form {
    display: flex;
    float: right;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
  }



.filter-container {
    background: #ffe521;
    padding: 10px 30px;
    width: 100%;
    float: right;
}

.filter-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #979588;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

.filter-container button:hover {
    background: #e0dfd2;
  }

.selectorStats {
  float:right;
  width: 50%;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Bitter', serif;
}

.btn-menu {
    display: none;
    padding: 20px;
    background: #154264;
    color: #ffffff;
}

.sidebar .nav {
    width: 100%;
}

.sidebar ul {
    list-style: none;
}

.sidebar .nav li a {
    color: #ffffff;
    display: block;
    padding: 15px 20px;
    background: #495258;
}

.sidebar .nav li a:hover {
    background: #b623a2;
}

.sidebar .nav ul li a {
    background: #6e7379
}

.sidebar .nav .btn1 > a {
    background: #000000;
}

.sidebar .nav .btn2 {
    background: #272626;
}

.sidebar {
  position: relative;
  float: left;
  width: 20%;
}

.table {
  padding: 30px;
  width: 100%;
}

.content {
  display: inline-flex;
}

.form-control {
  display: inline-block;
}

.show-stats-and-order {
  display: block;
}

@media screen and (max-width: 450px) {
    body {
        padding-top: 80px;
    }
    .sidebar {
        margin: 0;
        width: 100%;
        position: fixed;
        z-index: 1000;
    }

    .btn-menu {
        display: block;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }

    .nav {
        display: none;
    }
}

/*footer {
  background:#000000;
  padding: 20px;
  color: #ffffff
  position: absolute;
  bottom:0;
  width: 100%;
}

